@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,700;1,100&family=Roboto:wght@100;300;400;500;700&display=swap');
:root{
    --headerclr:#222533;
    --mainclr:#ffcb0f;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    box-sizing: border-box;
    transition: .2s;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow: hidden;
}

.header{
    padding: 2rem 7%;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--headerclr);
}

#logo{
    color: var(--mainclr);
    font-size: 30px;
}

.nav a{
    color: white;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.nav a:hover{
    color: var(--mainclr);
}

.icon-header div{
    color: white;
    margin-left: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

.icon-header div:hover{
    color: var(--mainclr);
}

menu-bar{
    display: none;
}
.nav.active{
    top: 100%;
}

.search-form{
    width: 50%;
    position: absolute;
    top: -110%;
    right: 2rem;
}

.search-form input{
    width: 100%;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid var(--headerclr);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
    
















@media (max-width:767px) {
    html{
        font-size: 55%;
    }
    #menu-bar{
        display: initial;
    }
    .header{
        padding: 2rem;
    }
    .nav{
        position: absolute;
        top: 100%;
        width: 80%;
        left: 10%;
        top: -1000%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 15px;
        transition: .5s;
    }
    .nav a{
        color: black;
        display: block;
        margin: 1rem;
        font-size: 14px;

    }
}
